<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/__STATIC__/lib/html5.js"></script>
	<script type="text/javascript" src="/__STATIC__/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/__STATIC__/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/__STATIC__/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="/__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="/__STATIC__/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/__STATIC__/h-ui.admin/css/style.css" />
	<!--[if IE 6] -->
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
</head>
<body>
<article class="cl pd-20">
    <form method="post" class="form form-horizontal" id="form_admin_add" action="">
        <input type="hidden" name="act" value="{$act}">
        <!--<input type="hidden" name="admin_id" value="{$admin_id ?? ''}">-->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.name ?? ''}" placeholder="" id="adminName" name="adminName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>初始密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" autocomplete="off" value="{$data.password ?? ''}" placeholder="密码" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" autocomplete="off" value="{$data.password ?? ''}" placeholder="确认新密码" id="password2" name="password2">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">角色：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
                <select class="select" name="adminRole" size="1">
                    <option value="0">超级管理员</option>
                    <option value="1">普通管理员</option>
                    <!--<option value="2">栏目主辑</option>-->
                    <!--<option value="3">栏目编辑</option>-->
                </select>
                </span> </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius"  type="submit"  value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<!--<iframe name="ajax_a" style="display: none"></iframe>-->
{include file='layout/footer' /}

<script type="text/javascript">
$(function(){
    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });

    $("#form-admin-add").validate({
        rules:{
            adminName:{
                required:true,
                minlength:4,
                maxlength:16
            },
            password:{
                required:true,
            },
            password2:{
                required:true,
                equalTo: "#password"
            },
            // adminRole:{
            //     required:true,
            // },
        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            // $(form).ajaxSubmit();
            // var index = parent.layer.getFrameIndex(window.name);
            // parent.$('.btn-refresh').click();
            // parent.layer.close(index);
            // var username = $("#adminName").val()
            // if (!username) {
            //     layer.msg('用户名必须填写', { icon: 2, time: 1000 });
            //     return false;
            // }
            $.ajax({
                type: "post",
                url: "{:url('admin/member/handle')}",
                data: $(form).serialize(),

                success:function(data){
                    if (data.status == 1) {
                        layer.msg(data.msg, {icon: 1, time: 1000},function(){
                            parent.location.reload();
                        });
                    } else {
                        layer.msg(data.msg, {icon: 2, time: 1000});
                    }
                },
                error: function(){
                    layer.alert("服务器繁忙, 请稍等!");
                }
            });
        }
    });
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>