.minor {
	margin: .4rem .24rem;
}
.bank_wrap {
	margin-bottom: .4rem;
}
.bank_wrap div {
	display: inline-block;
	vertical-align: middle;
}

.name {
	line-height: .65rem;
	font-size: .36rem;
	letter-spacing: 1px;
	color: #fff;
}
.inp {
	width: 5rem;
	padding: .27rem .3rem;
	background-color: #1f2034;
	border-radius: 4px;
	border: none;
	outline: none;
	color: #fff;
	font-size: .32rem;
}
.put {
	width: 4rem;
}

input::-webkit-input-placeholder {
    font-size: .32rem;
    letter-spacing: 1px;
	color: #474860;
}

.btn {
	margin: 1.1rem auto;
	width: 3.5rem;
	height: .8rem;
	background-color: #ac2c35;
	letter-spacing: 2px;
	color: #f9f7fb;
	border-radius: 10px;
	font-size: .3rem;
	text-align: center;
	line-height: .8rem;
}