.clip_wrap {
	margin: .4rem .24rem;
	background-color: #1f2034;
	border-radius: 4px;
}
.clip {
	padding: .3rem .24rem;
}

.bank_wrap div {
	display: inline-block;
	vertical-align: middle;
}
.icon {
	width: .4rem;
	height: .3rem;
	background: url(../../image/my/Bank.png) no-repeat;
	background-size: 100% 100%;
}
.ico {
	width: .4rem;
	height: .3rem;
	background: url(../../image/my/alipay@2x.png) no-repeat;
	background-size: 100% 100%;
}
.house {
	margin-left: .15rem;
	font-size: .3rem;
	letter-spacing: 1px;
	color: #fff;
}
.edit {
	float: right;	
	display: inline-block;
	width: 1rem;
	height: .5rem;
	background-color: #ac2c35;
	border-radius: 6px;
	font-size: .3rem;
	letter-spacing: 1px;
	color: #fff;
	text-align: center;
	line-height: .5rem;
}

.detail_wrap {
	margin-top: .3rem;
}
.arrive {
	font-size: .36rem;
	line-height: .55rem;
	letter-spacing: 1px;
	color: #fff;
}
.arrive,.ive {
	display: inline-block;
	vertical-align: top;
}

.name {
	padding-bottom: .25rem;
	line-height: .55rem;
	font-size: .3rem;
	color: #b3b4cd;
}
.small {
	display: none;
	margin-left: .2rem;
}
.card {
	display: none;
	padding: .25rem 0 0;
	width: 4.9rem;
	line-height: .55rem;
	font-size: .3rem;
	color: #b3b4cd;
	border-top: 1px solid #404259;
}

.active {
	background: #272840;
}

.ack {
	margin: 1.1rem auto 0;
	width: 3.5rem;
	height: .8rem;
	background-color: #46d16a;
	border-radius: 10px;
	font-size: .3rem;
	letter-spacing: 1px;
	color: #f9f7fb;
	text-align: center;
	line-height: .8rem;
}
