<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="/__STATIC__/css/index.css">
    <link rel="stylesheet" href="/__STATIC__/css/public.css">
    <link rel="stylesheet" href="/__STATIC__/css/swiper.css">
    <link rel="stylesheet" href="/__STATIC__/css/bottom_nav.css">
    <link rel="stylesheet" href="/__STATIC__/css/header.css">
    <link rel="stylesheet" href="/__STATIC__/css/my/mycenter.css">
    <script src="/__STATIC__/js/rem.js"></script>
</head>
<body>
<form action=""></form>
     <div class="everyColor">
         <!--<div class="lb_headWrap "><span>时时彩</span></div>-->
         <div class="swiperBox">
            <div class="swiper-container">
                <div class="swiper-wrapper clearfloat">
                    {volist name="banner" id="ba"}
                        <div class="swiper-slide">
                            <img src="{$ba.image}" alt="">
                        </div>
                    {/volist}

                    <!--<div class="swiper-slide">-->
                            <!--<img src="/__STATIC__/image/img1@2x.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="swiper-slide">-->
                            <!--<img src="/__STATIC__/image/img1@2x.png" alt="">-->
                    <!--</div>-->
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
         </div>
         <!-- 公告 -->
         <div class="announcement ">

                 <img src="/__STATIC__/image/notice.png" alt="" class="notice-i">


             <!--<div class="notice">-->
                    <!--公告:-->
                    <!--<span >-->
                            <!--{$notice.content}-->
                    <!--</span>-->
             <!--</div>-->
             <div class="notice">
                 <span class="not">公告:</span>
                 <div id="scroll_div">
                     <div id="scroll_begin">
                         <span class="scroll" onclick="location.href='/Index/user/notice'">{$notice.content}</span>
                     </div>
                     <div id="scroll_end"></div>
                 </div>
             </div>
         </div>
         <!-- 四宫格 -->
         <div class="fourGongGe clearfloat">
             <ul class="clearfloat">
                 <li class="four-item">
                     <a {if condition="$is_end eq 1"} href="javascript:void(0);" onclick="end_time()" {else} href="{:url('index/lottery_list?type=1')}" {/if}>
                     {volist name="luck_lottery" id="ll"}
                        <img src="{$ll.image}" alt="" class="four-icon">
                     {/volist}
                        <P class="four-name">幸运飞艇</P>
                     </a>
                    </li>
                 <li class="four-item">
                     <a {if condition="$is_end eq 1"} href="javascript:void(0);" onclick="end_time()" {else /} href="{:url('Index/index/lottery_list?type=2')}" {/if}>
                            {volist name="happy_lottery" id='hl'}
                            <img src="{$hl.image}" alt="" class="four-icon">
                     {/volist}
                            <P class="four-name">快乐飞艇</P>
                     </a>
                    </li>
                 <li class="four-item">
                     <a {if condition="$is_end eq 1"} href="javascript:void(0);" onclick="end_time()" {else /} href="{:url('index/lottery_list?type=3')}" {/if}>
                     {volist name="happy_car" id='hc'}
                     <img src="{$hc.image}" alt="" class="four-icon">
                     {/volist}
                            <P class="four-name">快乐赛车</P>
                     </a>
                    </li>
                 <li class="four-item">
                     <a {if condition="$is_end eq 1"} href="javascript:void(0);" onclick="end_time()" {else /} href="{:url('index/lottery_list?type=4')}" {/if}>
                     {volist name="happy_color" id='hr'}
                     <img src="{$hr.image}" alt="" class="four-icon">
                     {/volist}
                            <P class="four-name">快乐时时彩</P>
                     </a>
                    </li>
             </ul>
         </div>
         <!-- 底部 -->
         <div class="bottomNavWrap container" id="bottomNavWrap" data-id="0"></div>
     </div>
    <!--vip过期弹框==>默认隐藏-->
    <div class="vip_wrap">
        <div class="vip_up">
            <p>您的VIP已经过期请及时充值</p>
        </div>
    </div>
     <script src="/__STATIC__/js/jquery-1.8.3.js"></script>
     <script src="/__STATIC__/js/swiper.js"></script>
     <script src="/__STATIC__/js/bottom_nav.js"></script>
     <script>
        window.onload = function() {
            // 首页轮播图
            var swiper = new Swiper('.swiper-container', {
                loop: true,
                pagination: '.swiper-pagination',
                paginationClickable: true,
                spaceBetween: 30,
                autoplay: 3000,
                autoplayDisableOnInteraction: false
            });
            //文字横向滚动
            function ScrollImgLeft(){
                var speed = 25;//初始化速度 也就是字体的整体滚动速度
                var MyMar = null;//初始化一个变量为空 用来存放获取到的文本内容
                var scroll_begin = document.getElementById("scroll_begin");//获取滚动的开头id
                var scroll_end = document.getElementById("scroll_end");//获取滚动的结束id
                var scroll_div = document.getElementById("scroll_div");//获取整体的开头id
                scroll_end.innerHTML = scroll_begin.innerHTML;//滚动的是html内部的内容,原生知识!
                //定义一个方法
                function Marquee(){
                    if(scroll_end.offsetWidth-scroll_div.scrollLeft<=0)
                        scroll_div.scrollLeft-=scroll_begin.offsetWidth;
                    else
                        scroll_div.scrollLeft++;
                }
                MyMar = setInterval(Marquee,speed);//给上面的方法设置时间  setInterval
            }
            ScrollImgLeft();
        }
        //time over
         function end_time() {
             $(".vip_wrap").show();
         }
        $('.vip_wrap').click(function(){
            if($(".vip_wrap").css('display') == 'block'){
                $(".vip_wrap").hide();
            }
        });
     </script>
</body>
</html>