<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>开奖结果</title>
    <link rel="stylesheet" href="/__STATIC__/css/public.css">
    <link rel="stylesheet" href="/__STATIC__/css/runLottery.css">
    <link rel="stylesheet" href="/__STATIC__/css/header.css">
    <script src="/__STATIC__/js/rem.js"></script>
    <script src="/__STATIC__/js/jscolor.js"></script>
</head>
<body>
       <div class="everyColor">
        <div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                         <img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png"/>
                    </p>
				<span>开奖结果</span>
            </div>
            <div class="history-box">
                <p class="history-title">历史记录</p>
                <div class="result">
                <p class="history-result">{$typed}开奖结果</p>
                <p class="history-time">{$list.0.lottery_time}</p>
                    <input type="hidden" id="lottery_date" value="{$list.0.lottery_date}" />
                </div>
                <div class="ballBox">
                    <ul class="ball-ls clearfloat">
                        {foreach name="list.0.lottery_number" item="number"}
                            <li class="ball-item">{$number}</li>
                        {/foreach}
                    </ul>
                </div>
                <div class="select-color">
                <div class=" select clearfloat">
                    {volist name="all_color" id="va" length="6" key="k"}
                        <div class="colorSelect">
                            <P class="color-tit">第{$k}组</P>
                            <ul class="clearfloat tt">
                                {volist name="all_color" id="ac" key="l"}
                                <?php $j=($k-1)*10+$l;?>
                                    <li class="color-item" >
                                        <input class="jscolor {valueElement:valueSpan<?php echo ($k-1)*10+$l;?>,value:'',width:101,closable:true,closeText:'关闭'}" style="width:.48rem;height: .50rem; border-radius: 100%;border: 0;text-align:center;background-color:#{$ac[$k-1]}" disabled value="{if condition='($type eq 4) and ($l eq 10)'}0{else /}{$l}{/if}"><input type="hidden" value="{$ac[$k-1]}" id="valueSpan{$j}" onchange="color(this)" >
                                    </li>
                                {/volist}
                            </ul>
                        </div>
                    {/volist}
                </div>
                 </div>
                <div class="result-info clearfloat">
                      <div class="info-periods">
                          <p class="info-t">期数</p>
                          <ul id="lottery_date_str">
                              {foreach name="list" item="li"}
                                  <li class="item-per">
                                      <span>{$li.lottery_date}</span>
                                  </li>
                              {/foreach}
                          </ul>
                      </div>
                      <div class="soll ">
                          {volist name="list.0.lottery_number" id="vo" key="l"}
                          <div class="result-soll champion">
                              <p class="info-t">{$l}</p>
                              <div class="result-list">
                                  <ul id="lottery_number_{$l}">
                                      {volist name="list" id="vl"}
                                      <li class="item-soll">
                                          <ul class="clearfloat">
                                              <li class="item-soll-qi"><div class="qi-num one" style="background-color:#{$vl.lottery_color[$vl.lottery_number[$l-1]][0]}">{$vl.lottery_number[$l-1]}</div></li>
                                              <li class="item-soll-qi"><div class="qi-num two" style="background-color:#{$vl.lottery_color[$vl.lottery_number[$l-1]][1]}">{$vl.lottery_number[$l-1]}</div></li>
                                              <li class="item-soll-qi"><div class="qi-num three" style="background-color:#{$vl.lottery_color[$vl.lottery_number[$l-1]][2]}">{$vl.lottery_number[$l-1]}</div></li>
                                              <li class="item-soll-qi"><div class="qi-num four" style="background-color:#{$vl.lottery_color[$vl.lottery_number[$l-1]][3]}">{$vl.lottery_number[$l-1]}</div></li>
                                              <li class="item-soll-qi"><div class="qi-num five" style="background-color:#{$vl.lottery_color[$vl.lottery_number[$l-1]][4]}">{$vl.lottery_number[$l-1]}</div></li>
                                              <li class="item-soll-qi"><div class="qi-num six" style="background-color:#{$vl.lottery_color[$vl.lottery_number[$l-1]][5]}">{$vl.lottery_number[$l-1]}</div></li>
                                          </ul>
                                      </li>
                                      {/volist}
                                  </ul>
                              </div>
                          </div>
                          {/volist}
                    </div>
                </div>
            </div>
        </div>
        <script src="/__STATIC__/js/jquery-1.8.3.js"></script>
        <script src="/__STATIC__/js/public.js"></script>
        <script type="text/javascript">
           function colo(e,z){
            var val = $(e).prev().attr('value')
                var s = $(e).attr('value')
                z.each((element,i)=> {
                        if($(i).html()==val){
                           $(i).css('background-color',`#${s}`)
                        }
                });
           }
            //    第一列
            function color(e){
                colo(e,$(".one"))
                corresponding_color(1,$(e).prev().val(),$(e).val())
            }
            //   第二列
            function color1(e){
                colo(e,$(".two"))
                corresponding_color(2,$(e).prev().val(),$(e).val())
            }
            //   第三列
            function color2(e){
                colo(e,$(".three"))
                corresponding_color(3,$(e).prev().val(),$(e).val())
            }
            //   第四列
            function color3(e){
                colo(e,$(".four"))
                corresponding_color(4,$(e).prev().val(),$(e).val())
            }
            //   第五列
            function color4(e){
                colo(e,$(".five"))
                corresponding_color(5,$(e).prev().val(),$(e).val())
            }
            //   第六列
            function color5(e){
                colo(e,$(".six"))
                corresponding_color(6,$(e).prev().val(),$(e).val())
            }
            //将颜色对应的存起来
           function corresponding_color(group,num,color) {
               console.log(group+'```'+num+'````'+color)
               if(num>0 && color !=''){
                   var type={$type};
                   $.ajax({
                       type: "POST",
                       url: '{:url(\'index/lottery_color\')}',
                       cache: false,
                       data: {
                           num: num,group:group,type:type,color:color
                       },
                       dataType: 'json',
                       success: function(data){
                           if (data.status==1){
                               //要不要提示颜色变更成功之类的
                           }
                       }
                   })
               }
           }

           /*此处参数是判断是否重复的请求 避免数据多加载*/
           var loadingdelay = true;
           /*请求数据页数*/
           var page = 2;
           $('.soll').on("scroll", function(event) {
               /*文档(页面)高度*/
               var h = $(document).height();
               /*可视窗口的高度*/
               var wh = $(window).height();
               // console.log('一直在滚动！');
               if($(window).scrollTop() >= h - wh - 50 && loadingdelay) {
                   loadingdelay = false;
                   // console.log(page);
                   //发送Ajax
                   var type={$type};
                   $.ajax({
                       type: "POST",
                       url: '{:url(\'index/lottery_list\')}',
                       cache: false,
                       data: {
                           num: page,is_ajax:1,type:type
                       },
                       dataType: 'json',
                       success: function(data) {
                           /*数据拼接*/
                           var strData = "";
                           // console.log(data)
                           if(data.length) {
                               // for(var i=0;i<data.length;i++){
                               //     strData += '<div class="dataTerm">';
                               //     strData += '<p class="dataTermNum">'+data[i].ordernum+'</p>';
                               //     strData += '<p class="dataTermText">'+data[i].note+'</p>';
                               //     strData += '</div>';
                               // }
                               //
                               // /*追加数据*/
                               // $('.dataWrap').append(strData);

                               page++;
                               loadingdelay = true;

                           } else {
                               loadingdelay = true;
                               return false;
                           }
                       },
                       error: function(error){
                           loadingdelay = true;
                       }
                   });

               }
           });
           // var min=0;
           // var max=1;
           function get_new_lottery(){
                var lottery_number=$("#lottery_date").val();
                var type={$type};
                // console.log(lottery_number);
                if(type>0 && lottery_number>0){
                    $.ajax({
                        type: "POST",
                        url: '{:url(\'index/new_lottery\')}',
                        cache: false,
                        data: {
                            lottery_date: lottery_number,type:type
                        },
                        dataType: 'json',
                        success: function(data) {
                            var str_date='';//新的期数

                            var str_news='';//最新的数据
                            // console.log(data)
                            if(data && data.lottery_time !=''){
                                //替换最新的时间
                                $(".history-time").html(data.lottery_time);
                                //替换最新的期号
                                $("#lottery_date").val(data.lottery_date);
                                //替换最新的数据
                                for(var i=0;i<10;i++){
                                    str_news+='<li class="ball-item">'+data.lottery_number[i]+'</li>';
                                }
                                $(".ball-ls").html(str_news);
                                //在最前面添加一个期号
                                str_date+='<li class="item-per">';
                                str_date+='<span>'+data.lottery_date+'</span></li>';
                                $('#lottery_date_str').prepend(str_date);
                                //在最前面添加数字
                                var l=1;
                                for(var k in data.lottery_color){
                                    var str_number='';//新的数字
                                    var p=k.replace("oo","");
                                    str_number+='<li class="item-soll">';
                                    str_number+='<ul class="clearfloat">';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num one" style="background-color:#'+data.lottery_color[k][0]+'">'+p+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num two" style="background-color:#'+data.lottery_color[k][1]+'">'+p+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num three" style="background-color:#'+data.lottery_color[k][2]+'">'+p+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num four" style="background-color:#'+data.lottery_color[k][3]+'">'+p+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num five" style="background-color:#'+data.lottery_color[k][4]+'">'+p+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num six" style="background-color:#'+data.lottery_color[k][5]+'">'+p+'</div></li>';
                                    str_number+='</ul></li>';
                                    $("#lottery_number_"+l).prepend(str_number);
                                    l++;
                                }
                                // Object.keys(data.lottery_color).forEach(function(key){
                                //
                                //     console.log(key,data.lottery_color[key]);
                                //
                                // });
                            }
                        }
                    })
                }
               // if(min<max){
                   setTimeout(get_new_lottery,10000);
               // }
           }
           $(function() {
               setTimeout(get_new_lottery, 10000);
           })
       </script>
</body>
</html>