<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>开奖结果</title>
    <link rel="stylesheet" href="/__STATIC__/css/public.css">
    <link rel="stylesheet" href="/__STATIC__/css/runLottery.css">
    <link rel="stylesheet" href="/__STATIC__/css/header.css">
    <script src="/__STATIC__/js/rem.js"></script>
    <script src="/__STATIC__/js/jscolor.js"></script>
</head>
<body>
       <div class="everyColor">
        <div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                         <img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png"/>
                    </p>
				<span>开奖结果</span>
            </div>
            <div class="history-box">
                <p class="history-title">历史记录</p>
                <div class="result">
                <p class="history-result">{$typed}开奖结果</p>下期开奖：<span id="count_down">{$min}:{$sec}</span>
                <p class="history-time">{$list.0.lottery_time}</p>
                    <input type="hidden" id="lottery_date" value="{$list.0.lottery_date}" />
                    <input type="hidden" id="min" value="{$min}" />
                    <input type="hidden" id="sec" value="{$sec}" />
                </div>
                <div class="ballBox">
                    <ul class="ball-ls clearfloat">
                        {foreach name="list.0.lottery_number" item="number"}
                            <li class="ball-item">{$number}</li>
                        {/foreach}
                    </ul>
                </div>
                <div class="select-color">
                <div class=" select clearfloat">
                    {volist name="all_color.font_color" id="va" key="k"}
                        {if condition="$k<7"}
                        <div class="colorSelect" data-state="{if condition='$k eq 1'}one{elseif condition='$k eq 2' /}two{elseif condition='$k eq 3' /}three{elseif condition='$k eq 4' /}four{elseif condition='$k eq 5' /}five{else /}six{/if}">
                            <P class="color-tit">第{$k}组</P>
                            <ul class="clearfloat tt">
                                {volist name="all_color.color" id="ac" key="l"}
                                <?php $j=($k-1)*10+$l;?>
                                    <li class="color-item" group="{$k}" style="background-color:#{$ac[$k-1]};color:#{$all_color.font_color[$l][$k-1]}">{if condition='($type eq 4) and ($l eq 10)'}0{else /}{$l}{/if}</li>
                                {/volist}
                            </ul>
                        </div>
                    {/if}
                    {/volist}
                </div>
                 </div>
                <div class="result-info clearfloat">
                      <div class="info-periods">
                          <p class="info-t">期数</p>
                          <ul id="lottery_date_str">

                          </ul>
                      </div>
                      <div class="soll ">
                          {volist name="list.0.lottery_number" id="vo" key="l"}
                          <div class="result-soll champion">
                              <p class="info-t">{$l}</p>
                              <div class="result-list">
                                  <ul id="lottery_number_{$l}">

                                  </ul>
                              </div>
                          </div>
                          {/volist}
                    </div>
                </div>
                <!--加载中-->
                <p class="loadingBox">加载中</p>
            </div>
           <div class="hue_select_view" id="demo"></div>
        </div>
        <script src="/__STATIC__/js/jquery-1.8.3.js"></script>
        <script src="/__STATIC__/js/public.js"></script>
        <script type="text/javascript">
            var color_data = ["#fd7e89","#ffffca","#bbffbb","#84ffc1","#80ffff","#0080ff","#ff80c0","#ff80ff","#df2912","#ffff00","#80ff00","#00ff40","#00ffff","#0080c0","#8080c0","#fe00ff","#bb0000","#ff8040","#00ff00","#008080","#004080","#8080ff","#800040","#ff0080","#800000","#f39901","#008000","#005329","#0000ff","#0000a0","#b300b3","#8000ff","#400000","#804000","#004000","#004040","#000080","#000040","#800080","#400080","#000000","#808000","#808040","#808080","#408080","#c0c0c0","#400040","#ffffff"];
            var color_zi = ["#7FFF8A","#00FFFF","#1897DE","#2E9BE1"," #F653FC","#E86813","#7E0BDA","#662313","#1D2DC5","#1C6190","#A21B1E","#30123C","#ED06E1","#DE872A","#E65361","#051328","#7247DB","#338D27","#220306","#B43607","#4DDBBD","#D49BA6","#1EA227","#192D64","#E45C19","#5A504B","#9E09F5","#DE5121","#D7171C","#32D211","#C1E01D","#F92FC8","#29FCD8","#F668BF","#7DDDE3","#0EE066","#D92F5D","#07FB79","#F57286","#2555F5","#DAF4DD","#DBDBF8","#DE0AAD","#F15238","#943053","#E892CA","#F84F48","#010828"];
            var html = '';
            html += '<div class="down_box">';
            html += "<ul>";
            for(j = 0; j <color_data.length; j++) {
                html += '<li class="item_list" style="background:' + color_data[j] + '" onclick="back_but('+ j +')"> </li>';
            }
            html += "</ul>";
            html += '</div>';
            $('#demo').append(html);
            /*选择色值*/
            function back_but(_index){
                // console.log(color_data[_index]);
                // console.log(_index);
                $(this_ele).css('background',color_data[_index]);
                $(this_ele).css('color',color_zi[_index]);
                $('.hue_select_view').hide();
                var val = $(this_ele).text();
                var num = $(this_ele).parent().parent().attr('data-state');
                // console.log(val);
                // console.log(num);
                var group=$(this_ele).attr('group');
                // console.log(group)
                change_color(num,val,color_data[_index],color_zi[_index]);
                corresponding_color(group,val,color_data[_index],color_zi[_index]);
            }
            function change_color(num,val,color,ziColor) {
                $("."+num).each((element,i)=> {
                    if($(i).html()==val ){
                        $(i).css('background',color);
                        // console.log(color)
                        $(i).css('color',ziColor);
                        // console.log(ziColor)

                    }
                });
            }
            /*对应色值数组的元素*/
            var this_ele = null;
            /*点击-对应的数值=>设置色值*/
            function alert_color(_this){
                $('.hue_select_view').show();
                this_ele = _this;
            }
            $('.color-item').on('click',function(){
                alert_color(this);
            })

            $('.hue_select_view').on('click',function() {
                $('.hue_select_view').hide();
            })


            var runtimes=0;
            var sto1;
            var sto2;
            function set_count_down() {
                var m=$("#min").val()
                var s=$("#sec").val()
                var total_time=parseInt(m)*60+parseInt(s)-runtimes;
                // alert(total_time)
                var min=Math.floor(total_time/60)%60;
                // alert(min)
                var sec=Math.floor(total_time)%60;
                // console.log(m)
                // console.log(s)
                // console.log(total_time)
                // console.log(min)
                // console.log(sec)
                if(sec<10){
                    sec='0'+sec;
                }
                $("#count_down").html(min+":"+sec);
                // console.log(min)
                // console.log(sec)
                // if(min==0 &&sec<5){
                //     console.log(m)
                //     console.log(s)
                // }
                // if(min==0 && sec==5){
                //     get_interface();
                // }else
                if(min==0 && sec==0){
                    // stopCount(sto1);
                    clearTimeout(sto1);
                    clearTimeout(sto2);
                    get_new_lottery();

                    // stopCount(sto2);
                    $("#count_down").html('wating!');

                    return false;

                }
                runtimes++;
                sto1=setTimeout(set_count_down,1000);
            }
            function stopCount(sto)
            {
                clearTimeout(sto);
            }
            window.onload=set_count_down;
            function get_interface() {
                $.ajax({
                    type: "GET",
                    url: '{:url(\'admin/Happy/happy_is_important\')}',
                    cache: false,
                    data: {},
                    // async:false,
                    dataType: 'json',
                    success: function(data){
                        // console.log(data)
                        if (!data && typeof data != "undefined" && data != 0){
                            get_interface();
                        }
                    }
                })
            }
            //休眠几秒
            function sleep(n) {

                var start = new Date().getTime();

                while(true)  if(new Date().getTime()-start > n) break;

            }

            //将颜色对应的存起来
           function corresponding_color(group,num,color,font_color) {
               // console.log(group+'```'+num+'````'+color)
               if(num>=0 && color !='' && font_color!=''){
                   var type={$type};
                   $.ajax({
                       type: "POST",
                       url: '{:url(\'index/lottery_color\')}',
                       cache: false,
                       data: {
                           num: num,group:group,type:type,color:color,font_color:font_color
                       },
                       dataType: 'json',
                       success: function(data){
                           // if (data.status==1){
                               //要不要提示颜色变更成功之类的
                           // }
                       }
                   })
               }
           }
           // $(function() {

               /*此处参数是判断是否重复的请求 避免数据多加载*/
               var loadingdelay = true;
               /*请求数据页数*/
               var page = 1;
               var type={$type};//游戏类型
               get_lottery_list();
               setTimeout(get_new_lottery, 1000);
               // set_count_down();
           // })

           $(window).on("scroll", function(event) {
               // console.log(2222);
               /*文档(页面)高度*/
               var h = $(document).height();
               // console.log(h)
               /*可视窗口的高度*/
               var wh = $(window).height();
               // console.log(wh)
               // console.log('一直在滚动！');
               if($(window).scrollTop() >= h - wh - 10 && loadingdelay) {
                   loadingdelay = false;
                   // console.log(page);
                   // console.log(6666);
                   // return false;
                   //发送Ajax
                   $(".loadingBox").show();
                   get_lottery_list();

               }
           });
           function get_lottery_list(){
               // if(type==4){
               //     var url='{:url(\'index/lottery_list_five\')}';
               // }else{
               //     var url='{:url(\'index/lottery_list\')}';
               // }
               $.ajax({
                   type: "POST",
                   url: '{:url(\'index/lottery_list\')}',
                   cache: false,
                   data: {
                       num: page,is_ajax:1,type:type
                   },
                   dataType: 'json',
                   success: function(data) {
                       /*数据拼接*/
                       var strData = "";
                       // console.log(data)
                       if(data&&data.date!='') {
                           //先搞期号
                           var str_date='';
                           for(var i in data){
                               str_date+='<li class="item-per">';
                               str_date+='<span>'+data[i].lottery_date+'</span></li>';
                           }

                           $('#lottery_date_str').append(str_date);
                           //再来看看右边的600个数
                           for(var j in data){
                               var l=1;
                               for(var k in data[j].lottery_new_color){
                                   var str_number='';//新的数字
                                   // console.log(k)
                                   var p=k.split("-");
                                   // console.log(p)
                                   // console.log(p[1])
                                   str_number+='<li class="item-soll">';
                                   str_number+='<ul class="clearfloat">';
                                   str_number+='<li class="item-soll-qi"><div class="qi-num one" style="background-color:#'+data[j].lottery_new_color[k][0]+';color:#'+data[j].lottery_font_color[k][0]+'">'+p[1]+'</div></li>';
                                   str_number+='<li class="item-soll-qi"><div class="qi-num two" style="background-color:#'+data[j].lottery_new_color[k][1]+';color:#'+data[j].lottery_font_color[k][1]+'">'+p[1]+'</div></li>';
                                   str_number+='<li class="item-soll-qi"><div class="qi-num three" style="background-color:#'+data[j].lottery_new_color[k][2]+';color:#'+data[j].lottery_font_color[k][2]+'">'+p[1]+'</div></li>';
                                   str_number+='<li class="item-soll-qi"><div class="qi-num four" style="background-color:#'+data[j].lottery_new_color[k][3]+';color:#'+data[j].lottery_font_color[k][3]+'">'+p[1]+'</div></li>';
                                   str_number+='<li class="item-soll-qi"><div class="qi-num five" style="background-color:#'+data[j].lottery_new_color[k][4]+';color:#'+data[j].lottery_font_color[k][4]+'">'+p[1]+'</div></li>';
                                   str_number+='<li class="item-soll-qi"><div class="qi-num six" style="background-color:#'+data[j].lottery_new_color[k][5]+';color:#'+data[j].lottery_font_color[k][5]+'">'+p[1]+'</div></li>';
                                   str_number+='</ul></li>';
                                   $("#lottery_number_"+l).append(str_number);
                                   l++;
                               }
                           }
                           page++;
                           loadingdelay = true;
                           $(".loadingBox").hide();
                       } else {
                           loadingdelay = true;
                           $(".loadingBox").hide();
                           return false;
                       }
                   },
                   error: function(error){
                       loadingdelay = true;
                       $(".loadingBox").hide();
                   }
               });
           }
           // var min=0;
           // var max=1;
           function get_new_lottery(){
                var lottery_number=$("#lottery_date").val();
                var type={$type};
                // console.log(lottery_number);
                if(type>0 && lottery_number>0){
                    $.ajax({
                        type: "POST",
                        url: '{:url(\'index/new_lottery\')}',
                        cache: false,
                        data: {
                            lottery_date: lottery_number,type:type
                        },
                        dataType: 'json',
                        success: function(data) {
                            var str_date='';//新的期数

                            var str_news='';//最新的数据
                            // console.log(data)
                            if(data && data.lottery_time !=''){

                                //替换最新的时间
                                $(".history-time").html(data.lottery_time);
                                //替换最新的期号
                                $("#lottery_date").val(data.lottery_date);

                                //替换最新的数据
                                if(type==4){
                                    var t=5;
                                }else{
                                    var t=10;
                                }
                                for(var i=0;i<t;i++){
                                    str_news+='<li class="ball-item">'+data.lottery_number[i]+'</li>';
                                }
                                $(".ball-ls").html(str_news);
                                //在最前面添加一个期号
                                str_date+='<li class="item-per">';
                                str_date+='<span>'+data.lottery_date+'</span></li>';
                                $('#lottery_date_str').prepend(str_date);
                                //在最前面添加数字
                                var l=1;
                                for(var k in data.lottery_color){
                                    var str_number='';//新的数字
                                    // console.log(k)
                                    var p=k.split("-");
                                    // console.log(p)
                                    // console.log(p[1])
                                    str_number+='<li class="item-soll">';
                                    str_number+='<ul class="clearfloat">';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num one" style="background-color:#'+data.lottery_color[k][0]+';color:#'+data.font_color[k][0]+'">'+p[1]+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num two" style="background-color:#'+data.lottery_color[k][1]+';color:#'+data.font_color[k][1]+'">'+p[1]+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num three" style="background-color:#'+data.lottery_color[k][2]+';color:#'+data.font_color[k][2]+'">'+p[1]+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num four" style="background-color:#'+data.lottery_color[k][3]+';color:#'+data.font_color[k][3]+'">'+p[1]+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num five" style="background-color:#'+data.lottery_color[k][4]+';color:#'+data.font_color[k][4]+'">'+p[1]+'</div></li>';
                                    str_number+='<li class="item-soll-qi"><div class="qi-num six" style="background-color:#'+data.lottery_color[k][5]+';color:#'+data.font_color[k][5]+'">'+p[1]+'</div></li>';
                                    str_number+='</ul></li>';
                                    $("#lottery_number_"+l).prepend(str_number);
                                    l++;
                                }

                                //替换倒计时
                                $("#min").val(data.min)
                                $("#sec").val(data.sec)
                                runtimes=0;
                                set_count_down();
                            }
                        }
                    })
                }
               // if(min<max){
                   sto2=setTimeout(get_new_lottery,10000);
               // }
           }

       </script>
</body>
</html>