<html>
{include file='layout/header' /}
<style>
    .tabBar{border-bottom: 2px solid rgb(221, 215, 179);}
    .tabBar span{border-right: solid 0.1em rgb(243, 242, 242);}
    .tabBar span.current{background-color: rgb(221, 215, 179);}
</style>
<body>
{include file='layout/menu' /}
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 基本设置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <form action="{:url('admin/system/safe_setting')}" method="post" class="form form-horizontal" id="form-article-add">
                <div id="tab-system" class="HuiTab">
                    <div class="tabBar cl">
                        <a href="{:url('admin/system/base_setting')}"><span>基本设置</span></a>
                        <a href="{:url('admin/system/safe_setting')}"><span>安全设置</span></a>
                        <a href="{:url('admin/system/email_setting')}"><span>邮件设置</span></a>
                        <a href="{:url('admin/system/other_setting')}"><span>其他设置</span></a>
                    </div>
                    <div class="tabCon">
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">允许访问后台的IP列表：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <textarea class="textarea"></textarea>
                            </div>
                        </div>
                        <div class="row cl">
                            <label class="form-label col-xs-4 col-sm-2">后台登录失败最大次数：</label>
                            <div class="formControls col-xs-8 col-sm-9">
                                <input type="text" name="false-ip" value="5" class="input-text">
                            </div>
                        </div>
                    </div>
                    <div class="tabCon"> </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
                        <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                    </div>
                </div>
            </form>
        </article>
    </div>
</section>
</body>
</html>
{include file="layout/footer"}
<script type="text/javascript">
    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
        // $('.HuiTab').Huitab("#tab-system .tabBar span","#tab-system .tabCon","current","click","0");
        $('#tab-system').Huitab("{:url('admin/system/safe_setting')}",{index:"1"});
    });
</script>