<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/signin.css" />
{include file='public/header' /}
	</head>
	<body>
		<div class="everyColor">
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <i class="lb_headWrap_return_img"></i> 
                </p>
				<span>手机快速注册</span>
            </div>
            <!---->
            <div class="content">
            	<div class="shortcut">
					{empty name = "$user_id"}
					{else/}
					<div class="mobile">
						<div class="mark">上级id:</div>
						<div class="inp">
							<input class="text" readonly type="text" name="first_leader" id="first_leader" value="{$user_id}" />
						</div>
					</div>
					{/empty}
					<form action="" method="POST">
					<!--手机号-->
            		<div class="mobile">
            			<div class="mark">手机号:</div>
            			<div class="inp">
                            <input class="text phone" name="mobile" id="mobile" type="text" placeholder="请输入手机号" />
							<input type="hidden" name="sms_type" value="1" id="sms_type_id">
							<input type="hidden" name="user_id" id="user_id" value="{empty name="$user_id"}{else/}{$user_id}{/empty}">
            			</div>
            		</div>
            		<!--验证码-->
            		<div class="mobile">
            			<div class="mark">验证码:</div>
            			<div class="inp">
            				<input class="text" type="number" name="code" id="code" placeholder="请输入短信验证码" />
            				<input class="gain" type="button" id="btn" value="获取验证码"  />
            			</div>
            		</div>
            		<!--设置密码-->
            		<div class="mobile">
            			<div class="mark">设置密码:</div>
            			<div class="inp">
            				<input class="text" type="password" name="password" id="password" placeholder="数字,字母或符号" />
            			</div>
					</div>
					<!--确认密码-->
					<div class="mobile">
						<div class="mark">确认密码:</div>
						<div class="inp">
							<input class="text" type="password" name="re_password" id="re_password" placeholder="数字,字母或符号" />
						</div>
					</div>

            	</div>
				</form>
            	<!--注册按钮-->
            	<a class="signin_btn">提交注册</a>
            </div>
        </div>
        
		{include file='public/footer' /}
        <script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
        <script>
        	// //获取验证码
 			// var countdown=60; 
			// function settime(val) { 
			// 	var reg = /^1[34578]\d{9}$/;  /*用户手机号*/
			// 	var phone = $(".phone");
			// 	var phoneS = $(".phone").val();
			// 	if (phone.val() == "") {
			// 		layer.msg('手机不能为空!', { time: 1000 }, function () {

			// 		});
			// 		return false
			// 	}
			// 	if (!reg.test(phone.val())) {
			// 		layer.msg('请输入正确的手机号!', { time: 1000 }, function () {

			// 		});
			// 		return false
			// 	}				
			// 	if (countdown == 0) { 
			// 		val.removeAttribute("disabled");    
			// 		val.value="免费获取验证码"; 
			// 		countdown = 60;

			// 	} else { 
			// 		val.setAttribute("disabled", true); 
			// 		val.value="重新发送(" + countdown + ")"; 
			// 		countdown--;
					
			// 	} 
			// 	setTimeout(function() { 
			// 		settime(val) 
			// 	},1000) 
			// }

        // //发送验证码
        $("#btn").click(function(){
            var reg = /^1[3456789]\d{9}$/;  /*用户手机号*/
            var phone = $(".phone");
            var phoneS = $(".phone").val();
            if (phone.val() == "") {
                layer.msg('手机不能为空!', { time: 1000 }, function () {

                });
                return false
            }
            if (!reg.test(phone.val())) {
                layer.msg('请输入正确的手机号!', { time: 1000 }, function () {

                });
                return false
            }
            var sms_type = $('#sms_type_id').val();

            // 获取验证码
            var flag = true;
            $.ajax({
                url: '/index/login/getPhoneVerify',
                type: 'post',
				async:false,
                dataType: 'json',
                data: { 'phone': phoneS, 'sms_type': sms_type },
                success: function (msg) {
                    if (msg.code == 0) {
						layer.msg(msg.msg);
						flag = false;								
                        return false;
                    }
                }
            }); 
			
			if (flag) {
				layer.msg('已发送');
			}
			// $(".verify").focus();
			daojishi(60, $(this))
        })
        function daojishi(seconds,obj){
            if (seconds > 1){
                    seconds--;
                    $(obj).val(seconds+"重新获取 ").attr("disabled", true);
                    setTimeout(function(){
                        daojishi(seconds,obj);
                    },1000);
                }else{
                    $(obj).val("获取验证码").attr("disabled", false);//启用按
                }
        }
        $('.signin_btn').click(function(){
			var mobile = $("#mobile").val();
			var code = $("#code").val();
			var sms_type = $("#sms_type_id").val();
			var password = $("#password").val();
			var re_password = $("#re_password").val();
			if (!mobile) {
				layer.msg('手机不能为空!', { time: 1000 }, function () {

				});
				return false
			}
			if (!code) {
				layer.msg('验证码不能为空!', { time: 1000 }, function () {

				});
				return false
			}
			if (!password) {
				layer.msg('密码不能为空!', { time: 1000 }, function () {

				});
				return false
			}
			if (!re_password) {
				layer.msg('确认密码不能为空!', { time: 1000 }, function () {

				});
				return false
			}
			if(password != re_password){
				layer.msg('两次密码不一致!', { time: 1000 }, function () {

				});
				return false
			}						
			
            $.ajax({
                url: '/index/login/re_commit',
                type: 'post',
                dataType: 'json',
                data: $("form").serialize(),
                success: function (msg) {
                    if (msg.code == 0) {
                        layer.msg(msg.msg);
                        return false;
                    }else{
						layer.msg(msg.msg, { time: 1000 }, function () {
							window.location.replace(msg.url);
						});
					}
                }
            });
		})
        </script>
	</body>
</html>
