<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
{include file='layout/header' /}

<body>
    {include file='layout/menu' /}

    <section class="Hui-article-box">
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资金管理 <span
                class="c-gray en">&gt;</span> 套餐管理<a class="btn btn-success radius r"
                style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);"
                title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
        <div class="Hui-article">
            
            <article class="cl pd-20">
                <form method="GET" action="">
                <div class="text-c"> 
                日期范围：
                <input type="text" {literal}
                    onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" {/literal}
                    {if condition="isset($seach.datemin) && !empty($seach.datemin)" } value="{$seach.datemin|date='Y-m-d H:i:s',###}"
                    {else/} value="" {/if} id="datemin" name="seach[datemin]" class="input-text Wdate" style="width:180px;">
                
                -
                <input type="text" {literal} onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm:ss',minDate:'#F{$dp.$D(\'datemin\')}' })"
                    {/literal} {if condition="isset($seach.datemax) && !empty($seach.datemax)" }
                    value="{$seach.datemax|date='Y-m-d H:i:s',###}" {else/} value="" {/if} id="datemax" name="seach[datemax]"
                    class="input-text Wdate" style="width:180px;">
                <input type="text" class="input-text" style="width:250px"
                    value="{if condition='isset($seach.m_conditions)'}{$seach.m_conditions}{/if}" placeholder="输入套餐名称"
                    id="m_conditions" name="seach[m_conditions]">
                    <button type="submit" class="btn btn-success radius" id="" name=""><i
                            class="Hui-iconfont">&#xe665;</i> 搜套餐</button>
                </div>
                </form>
                <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()"
                            class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a
                            href="javascript:;" onclick="member_add('添加套餐','{:url(\'admin/money/add\')}','','510')"
                            class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加套餐</a></span> <span
                        class="r">共有数据：<strong>{$num}</strong> 条</span> </div>
                <div class="mt-20">
                    <table class="table table-border table-bordered table-hover table-bg table-sort">
                        <thead>
                            <tr class="text-c">
                                <th width="25"><input type="checkbox" name="" value=""></th>
                                <th width="80">ID</th>
                                <th width="80">套餐名字</th>
                                <th width="80">套餐金额</th>
                                <th width="90">套餐时长</th>
                                <th width="150">添加时间</th>
                                <!--<th width="">地址</th>-->
                                <th width="130">返佣金额</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="vo" }
                            <tr class="text-c">
                                <td><input type="checkbox" value="{$vo.id}" name="pack_id"></td>
                                <td>{$vo.id}</td>
                                <td>{$vo.pack_name}</td>
                                <td>{$vo.pack_money}</td>
                                <td>{$vo.pack_time}</td>
                                <td width="40">{:date('Y-m-d,H:i:s',$vo.add_time)}</td>
                                <td>{$vo.rebate_money}</td>
                                <!-- <td>拥有至高无上的权利</td> -->
                                <td class="f-14"><a title="编辑" href="javascript:;"
                                        onclick="member_add('组别编辑','{:url('admin/money/add',array('id'=>$vo.id))}','500','300')"
                                        style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;"
                                        onclick="pack_del(this,{$vo.id})" class="ml-5" style="text-decoration:none"><i
                                            class="Hui-iconfont">&#xe6e2;</i></a></td>
                            </tr>
                            
                            {/volist}
                            
                        </tbody>
                    </table>
                    {$list->render()}
                    {empty name="list"}
                    <p style="text-align: center;height: 75px;line-height: 75px">暂无数据</p>
                    {/empty}
                </div>
            </article>
        </div>
    </section>

    {include file='layout/footer' /}

    <script type="text/javascript">
        // $(function(){
        // 	// $('.table-sort').dataTable({
        // 	// 	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
        // 	// 	"bStateSave": true,//状态保存
        // 	// 	"aoColumnDefs": [
        // 	// 	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
        // 	// 	  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
        // 	// 	]
        // 	// });
        // 	$('.table-sort tbody').on( 'click', 'tr', function () {
        // 		if ( $(this).hasClass('selected') ) {
        // 			$(this).removeClass('selected');
        // 		}
        // 		else {
        // 			table.$('tr.selected').removeClass('selected');
        // 			$(this).addClass('selected');
        // 		}
        // 	});
        // });

        var url = '{:url("admin/member/handle")}'
        /*用户-添加*/
        function member_add(title, url, w, h) {
            layer_show(title, url, w, h);
        }
        /*用户-查看*/
        function member_show(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*用户-停用*/
        function member_stop(obj, user_id) {
            layer.confirm('确认要停用吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    data: { 'id': user_id, 'act': "status", 'status': 0 },
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg('已停用!', { icon: 5, time: 1000 }, function () {
                                window.location.reload();
                            });
                        } else {
                            layer.msg('停用失败!', { icon: 2, time: 1000 });
                        }
                    },
                    error: function (data) {
                        layer.alert("服务器繁忙, 请联系管理员!");
                    },
                });
            });
        }

        /*用户-启用*/
        function member_start(obj, user_id) {
            layer.confirm('确认要启用吗？', function (index) {
                // 	$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>');
                // 	$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                // 	$(obj).remove();
                // 	layer.msg('已启用!',{icon: 6,time:1000});
                // });
                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: 'json',
                    data: { 'id': user_id, 'act': "status", 'status': 1 },
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg('已启用!', { icon: 6, time: 1000 }, function () {
                                window.location.reload();
                            });
                        } else {
                            layer.msg('启用失败!', { icon: 2, time: 1000 });
                        }
                    },
                    error: function (data) {
                        layer.alert("服务器繁忙, 请联系管理员!");
                    },
                });
            });
        }
        /*用户-编辑*/
        function member_edit(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*密码-修改*/
        function change_password(title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
        /*用户-删除*/
        function pack_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: "post",
                    url: '{:url("admin/money/del")}',
                    dataType: "json",
                    data: { 'id':id,'act':'del' },
                    success: function (data) {
                        if (data.code == 1) {
                            $(obj).parents("tr").remove();
                            layer.msg('删除成功', { icon: 1, time: 1000 });
                        } else {
                            layer.msg('删除失败', { icon: 2, time: 1000 });
                        }
                    },
                    error: function (data) {
                        layer.alert('服务器繁忙, 请联系管理员!');
                    }
                });
                // $(obj).parents("tr").remove();
                // layer.msg('已删除!',{icon:1,time:1000});
            });
        }

			function datadel() {
				id = document.getElementsByName("pack_id");
				check_val = [];
				for (k in id) {
					if (id[k].checked) {
						check_val.push(id[k].value);
					}
				}
				console.log(check_val);
				if (check_val.length == 0) {
					layer.alert("你还没有选择!");
				} else {
					check_val = JSON.stringify(check_val);
					layer.confirm('确认要删除吗？', function (index) {
						$.ajax({
							type: 'POST',
							url: "{:url('admin/money/del')}",
							data: { 'id': check_val, 'act': "batchdel" },
							dataType: 'json',
							success: function (data) {
								if (data.status == 1) {
									layer.msg(data.msg, { icon: 1, time: 1000 }, function () {
										window.location.reload();
									});
								} else {
									layer.msg(data.msg, { icon: 2, time: 1000 });
								}
							},
							error: function () {
								layer.alert("服务器繁忙, 请联系管理员!");
							},
						});
					});
				}
			}        
    </script>
    <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>