<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.container{
    height: 80vh;
    display: grid;
}    
.center{
   /* position: absolute;
   top: 50%;
   left: 50%;
   margin: -50px 0 0 -50px;
   width: 200px;
   height: 200px;  */
   width: 430px;
   height: 430px;
   margin:auto;
}
</style>
<body>
    <div class="container">
        {empty name="$info.pay_code"}
        <div style="height: 100vh;display: grid">
        <div style="margin:auto">
            暂无凭证，或者凭证丢失
        </div>
        
        </div>
        {else /}
        <img class="center" src="{$info.pay_code}" alt="">
        {/empty} 
    </div>
    
</body>
</html>