<!DOCTYPE HTML>
<html>
{include file='layout/header' /}
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
  <img class="avatar size-XL l" src="static/h-ui/images/user.png">
  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18">{$info.nickname}</span> <span class="pl-10 f-12">余额：{$info.money}</span></dt>
    <!--<dd class="pt-10 f-12" style="margin-left:0">这家伙很懒，什么也没有留下</dd>-->
  </dl>
</div>
<div class="pd-20">
  <table class="table">
    <tbody>
      <tr>
        <th class="text-r" width="80">性别：</th>
        <td>
        {if condition="$info.sex eq 0"}保密
        {elseif condition="$info.sex eq 1"}男
        {elseif condition="$info.sex eq 2"}女
        {/if}
        </td>
      </tr>
      <tr>
        <th class="text-r">手机：</th>
        <td>{$info.mobile}</td>
      </tr>
      <tr>
        <th class="text-r">邮箱：</th>
        <td>{$info.email}</td>
      </tr>
      <tr>
        <th class="text-r">注册时间：</th>
        <td>{$info.register_time|date="Y-m-d H:m:s",###}</td>
      </tr>
      <tr>
        <th class="text-r">套餐结束时间：</th>
        <td>{$info.end_time|date="Y-m-d H:m:s",###}</td>
      </tr>
      <tr>
        <th class="text-r">上级：</th>
        <td>{$first_leader ?? '无上级'}</td>
      </tr>
    </tbody>
  </table>
</div>
{include file='layout/footer' /}

</body>
</html>