<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>更改用户名</title>
		<script type="text/javascript" src="/__STATIC__/js/rem.js" ></script>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/altername.css"/>
	</head>
	<body>
		<div class="wrapper">
			<!--头部-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png"/> 
                </p>
				<span>更改用户名</span>
            </div>
            <!--内容-->
            <div class="content">
            	<!--输入框-->
            	<div class="inp_wrap">
            		<input class="text" type="text" name="name" id="name" placeholder="请输入姓名" />
            	</div>
            	
            	<div class="remark">*请使用真实姓名</div>
            	<!--确认按钮-->
            	<a class="ack">确认修改</a>
            </div>
		</div>
		
		<script src="/__STATIC__/js/jquery-1.8.3.js"></script>
		<script src="/__STATIC__/js/public.js"></script>
		<script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
		<script>
		    $('.ack').click(function(){
				var name = $('#name').val()
				if (!name) {
					layer.msg('请输入昵称!', { time: 1000 }, function () {

					});
					return false
				}
				
				$.ajax({
					type: "post",
					url: "{:url('index/user/alter_name')}",
					data: {'nickname':name},

					success: function (data) {
						if (data.code == 1) {
							layer.msg(data.msg, { icon: 1, time: 1000 }, function () {
								window.location.replace("/index/user/alter_name");
							});
						} else {
							layer.msg(data.msg, { icon: 2, time: 1000 });
						}
					},
					error: function () {
						layer.alert("服务器繁忙, 请稍等!");
					}
				});
			})
		</script>
	</body>
</html>
