<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>个人头像</title>
		<script type="text/javascript" src="/__STATIC__/js/rem.js" ></script>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/alterphoto.css"/>
	</head>
	<style>
	   .avatar{
		   width: 200px;
		   height: 200px;
	   }
	</style>
	<body>
		<div class="wrapper">
			<!--头部-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png"/> 
                </p>
				<span>个人头像</span>
            </div>
            <!--内容-->
            <div class="content">
            	<!--上传图片放置区-->
            	<div class="file_img_ut">
					{empty name="$info.avatar"}
					<img class="avatar" id="file_img" src="/__STATIC__/image/my/touxiang.png" />
					{else/}
					<img class="avatar" id="file_img" src="{$info.avatar}"/>
					{/empty}
				</div>
				<div class="inp_wrap">
					<input class="inp" id="file" type="file" />
					<div class="cli">从手机相册选择</div>
				</div>
            </div>
		</div>
		
		<script src="/__STATIC__/js/jquery-1.8.3.js"></script>
		<script src="/__STATIC__/js/public.js"></script>
		<script src="/public/static/admin/lib/layer/2.4/layer.js"></script>
        <script>
        	//上传头像
        	var Input  = document.getElementById("file");   // input file
			var FileImg = document.getElementById("file_img");//img file
	
			Input.onchange = function(){
			    var file = this.files[0];
			        if(!!file){
			            var reader = new FileReader();
			            // 图片文件转换为base64
						reader.readAsDataURL(file);
			            reader.onload = function(){
			            // // 显示图片
						// FileImg.src = this.result;

						$.ajax({
							url: '/index/user/upload_avatar',
							type: 'post',
							dataType: 'json',
							data: {
								dataImg: this.result
							},
							success: function (msg) {
								if (msg.code == 200) {
									// $('#qrcode_addr').val(msg.imgUrl);
									// $('.text').html('成功');
									// console.log(msg);
									layer.msg(msg.msg, { time: 1000 }, function () {
										FileImg.src = msg.imgUrl;
										// location.reload()
									})

								} else {
									// $('.text').html('失败');
									layer.msg(msg.msg, { time: 1000 }, function () {
										// location.reload()
									})
									return false;
								}
							}
						});
			        }
			    }
			}
        </script>
	</body>
</html>
