<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>佣金明细</title>
		<script type="text/javascript" src="/__STATIC__/js/rem.js" ></script>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/brokerage.css"/>
	</head>
	<body>
		<div class="everyColor">
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png"/>
                </p>
				<span>佣金明细</span>
            </div>
            <!--内容-->
            <div class="content">
            	
            	<div class="name_wrap">
	            	<div class="name">
	            		<span>*{$info.nickname}</span>
	            		<span>ID:{$info.id}</span>
	            	</div>
	            </div>
	            <!--佣金明细-->
	            <div class="det_wrap">
	            	<div class="dets der">
	            		<p>总佣金</p>
	            		<p class="">￥{$info.commission}</p>
	            	</div>

	            	<div class="dets">
	            		<p>团队人数</p>
	            		<p>{$count}</p>
	            	</div>
	            </div>
	            <!--团队列表-->
	            <div class="list_wrap">
	            	<h2>团队列表</h2>
	            	<div class="item">
	            		<span>用户ID</span>
	            		<span>名称</span>
	            		<span>佣金收益</span>
	            	</div>
	            	<!--数据-->
	            	<div class="data_wrap">
						{foreach name="team_ids" item="vo"}
	            		<div class="data">
		            		<div>{$vo.id}</div>
		            		<div>{$vo.nickname}</div>
		            		<div>{$vo.commission}</div>
	            		</div>
						{/foreach}
	            	</div>
	            	<!--用户没有下级时显示-->
	            	<p>该用户没有下级!</p>
	            </div>
            </div>
        </div>
        
        <script src="/__STATIC__/js/jquery-1.8.3.js"></script>
        <script src="/__STATIC__/js/public.js"></script>
	</body>
</html>
