<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>链接邀请</title>
		<script type="text/javascript" src="/__STATIC__/js/rem.js" ></script>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/invitelink.css"/>
	</head>
	<body>
		<div class="everyColor">
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png"/>
                </p>
				<span>链接邀请</span>
            </div>
            
            <!--内容-->
            <div class="content">
            	<div class="det_wrap">
            		<div class="info">
            			<div class="img">
            				<img src="/__STATIC__/image/my/touxiang.png" />
            			</div>
            			<div class="nome_wrap">
            				<span>*小明</span>
            				<span>ID:00001</span>
            			</div>
            		</div>
            		<!--分享-->
            		<div class="share">
            			<div class="ur publicEllipsis">www.hao123.com</div>
            			<a>分享</a>
            		</div>
            	</div>
            </div>
        </div>
        
        <script src="/__STATIC__/js/jquery-1.8.3.js"></script>
        <script src="/__STATIC__/js/public.js"></script>
	</body>
</html>
