<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>链接邀请</title>
		<script type="text/javascript" src="/__STATIC__/js/rem.js" ></script>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/invitelink.css"/>
	</head>
	<style>
		.publicEllipsis1 {
			overflow: auto;
			white-space: nowrap;
		}	
	</style>
	<body>
		<div class="everyColor">
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <i class="lb_headWrap_return_img"></i>
                </p>
				<span>链接邀请</span>
            </div>
            
            <!--内容-->
            <div class="content">
            	<div class="det_wrap">
            		<div class="info">
            			<div class="img">
							{empty name="$info.avatar"}
							<img src="/__STATIC__/image/my/touxiang.png" />
							{else/}
							<img src="{$info.avatar}" />
							{/empty}
            				
            			</div>
            			<div class="nome_wrap">
            				<span>{empty name="$info.nickname"}{$info.mobile}{else/}{$info.nickname}{/empty}</span>
            				<span>ID:{$info.id}</span>
            			</div>
            		</div>
            		<!--分享-->
            		<div class="share">
            			<div class="ur publicEllipsis1" id="codeNum">{$url}</div>
            			<a id="dynamic" data-clipboard-target="#codeNum">复制地址</a>
            		</div>
            	</div>
            </div>
        </div>
        
        <script src="/__STATIC__/js/jquery-1.8.3.js"></script>
		<script src="/__STATIC__/js/public.js"></script>
		<script src="/__STATIC__/js/clipboard.js"></script>
		<script src="/__STATIC__/js/jquery.zclip.min.js"></script>
		<script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
	
	<script>
		$(document).ready(function () {
			$("#dynamic").click(function () {
				//  copyUrl($('.publicEllipsis1'))
				let e = document.getElementById("codeNum").value;
				//实例化clipboard
				var clipboard = new ClipboardJS('#dynamic');

				clipboard.on("success", function (e) {
					console.log(e);
					layer.msg('复制成功')
				});

				clipboard.on("error", function (e) {
					console.log(e);
				});

			})
			
		})
	</script>

	</body>
</html>