<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>我的团队</title>
		<script type="text/javascript" src="/__STATIC__/js/rem.js" ></script>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/myteam.css"/>
	</head>
	<body>
		<div class="wrapper">
			<!--头部-->
			<div class="lb_headWrap">
				<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
                    <i class="lb_headWrap_return_img"></i>
                </p>
				<span>我的团队</span>
            </div>
            <!--内容-->
            <div class="content">
            	<div class="list_wrap">
            		<!--标题-->
            		<div class="list">
            			<ul>
            				<li>用户ID</li>
            				<li>昵称</li>
            				<li>等级</li>
            				<li>上级呢称/ID</li>
            			</ul>
            		</div>
            		<!--列表详细-->
            		<div class="item_wrap">
						<div class="rank">
							{volist name="first" id="vo"}
								<ul class="item">
									<li>{$vo.id}</li>
									<li>{$vo.nickname}</li>
									<li>{$vo.level}</li>
									<li>{$vo.leader_name}</li>
								</ul>
							{/volist}
						</div>
						<div class="rank">
							{volist name="second" id="so"}
								<ul class="item">
									<li>{$so.id}</li>
									<li>{$so.nickname}</li>
									<li>{$so.level}</li>
									<li>{$so.leader_name}</li>
								</ul>
							{/volist}
						</div>
            		</div>
            	</div>
            </div>
        </div>
        
        <script src="/__STATIC__/js/jquery-1.8.3.js"></script>
        <script src="/__STATIC__/js/public.js"></script>
	</body>
</html>
