<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>提现记录</title>
    <script type="text/javascript" src="/__STATIC__/js/rem.js" ></script>
    <link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/record.css"/>
</head>
<body>
<div class="wrapper">
    <!--头部-->
    <div class="lb_headWrap">
        <p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
            <img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png"/>
        </p>
        <span>提现记录</span>
    </div>
    <!--内容-->
    <div class="content">
        <div class="list_wrap">
            <div class="data_the" id="dateShowBtn">
                <div class="the" id="date" data-options="{'type':'YYYY-MM','beginyear':2010,'endyear':2088}">{$time}</div>
            </div>
            <div class="arrows"></div>
            <ul>
                {foreach name="info" item="vo"}
                <li class="result_list">
                    <a href="{:url('index/user/details',array('id'=>$vo.id))}">
                        <div class="item_soll">
                            <div class="imges">
                                <img src="/__STATIC__/image/my/bi.png" />
                            </div>
                            <div class="star">
                                <p class="publicEllipsis">余额提现-到{$vo.withdraw_way|get_withdraw_way}</p>
                                <p>
                                    <span>{$vo.apply_time|date="Y-m-d H:i:s",###}</span>
                                </p>
                            </div>
                            <div class="sum">{$vo.money}</div>
                        </div>
                    </a>
                </li>
                {/foreach}
            </ul>
        </div>
    </div>
</div>

<script src="/__STATIC__/js/jquery-1.8.3.js"></script>
<script src="/__STATIC__/js/public.js"></script>
<script type="text/javascript" src="/__STATIC__/js/jquery.date.js" ></script>
<script>
    $.date('#date');
</script>
</body>
</html>
