<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>设置</title>
	<script type="text/javascript" src="/__STATIC__/js/rem.js"></script>
	<link rel="stylesheet" type="text/css" href="/__STATIC__/css/public.css" />
	<link rel="stylesheet" type="text/css" href="/__STATIC__/css/header.css" />
	<link rel="stylesheet" type="text/css" href="/__STATIC__/css/my/setting.css" />
</head>

<body>
	<div class="wrapper">
		<!--头部-->
		<div class="lb_headWrap">
			<p class="lb_headWrap_return" data-num="1" onclick="returnFun()">
				<img class="lb_headWrap_return_img" src="/__STATIC__/image/back@2x.png" />
			</p>
			<span>设置</span>
		</div>
		<!--内容-->
		<div class="content">
			<div class="basic_wrap">
				<!--基本资料-->
				<a href="/index/user/data_info">
					<div class="data">
						<div>基本资料</div>
						<div class="run"></div>
					</div>
				</a>
				<!--修改密码-->
				<a href="/index/user/change_pwd">
					<div class="data">
						<div>修改密码</div>
						<div class="run"></div>
					</div>
				</a>
			</div>
			<!--退出按钮-->
			<div class="close_wrap">
				<a href="#" class="close">退出登录</a>
			</div>
		</div>

	</div>

	<script src="/__STATIC__/js/jquery-1.8.3.js"></script>
	<script src="/__STATIC__/js/public.js"></script>
	<script type="text/javascript" src="/public/static/admin/lib/layer/2.4/layer.js"></script>
	<script>
			$('.close').click(function(){				
				$.ajax({
					type: "post",
					url: "{:url('index/user/logout')}",
					data:{'status':1},
					success: function (data) {
						if (data.status == 1) {
							layer.msg(data.msg, { icon: 1, time: 1000 }, function () {
								 window.location.replace(data.url);
							});
						} else {
							layer.msg(data.msg, { icon: 2, time: 1000 });
						}
					},
					error: function () {
						layer.alert("服务器繁忙, 请稍等!");
					}
				});
			})	
	</script> 

</body>

</html>